<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Todo App</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body style="margin-top:100px">
   <div class="container">
      <h3>Todo list</h3>
      <hr>

      <form action="/add" method="post" class="form-inline">
         <div class="input-group mb-3">
            <input type="text" name="title" class="form-control" placeholder="Add Todo" >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" >Add</button>
            </div>
          </div>
      </form>

      <br>

      <table class="table table-hover table-dark">
         <thead>
           <tr>
             <th scope="col">id</th>
             <th scope="col">Title</th>
             <th scope="col">Status</th>
             <th scope="col">Update</th>
             <th scope="col">Delete</th>
           </tr>
         </thead>
         <tbody>
            {% for todo in todos %}
               <tr>
                  <th scope="row">{{todo.id}}</th>
                  <td>{{todo.title}}</td>
                  <td>
                     {% if todo.complete == False %}
                           in progress
                     {% else %}
                           done
                     {% endif %}
                  </td>
                  <td><a href="/complete/{{todo.id}}" class="btn btn-primary">Update Status</a></td>
                  <td><a href="/delete/{{todo.id}}" class="btn btn-danger">Delete</a></td>
               </tr>
            {% endfor %}
         </tbody>
       </table>
   </div>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>